@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  border-radius: 10px;
    font-size: 14px;
    height: 50px;
    line-height: 20px;
    margin-bottom: 20px;
    outline: none;
    padding: 16px 12px 16px 20px;
    width: 100%;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  width: 100%;
  top: 42px;
  position: absolute;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #ffffff;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}


.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 0.8rem;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}


@media (max-width: 768px) {
  body {
    margin-left: 0rem;
    margin-right: 0rem;
  }}


 #event-list li{
    text-align: left;
    border: 2px solid;
  border: 2px solid;
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 10px 40px 30px;
  }

  .show-details-btn{
    background-color: #219ebc;
    border-radius: 4px;
    border-radius: 20px;
    color: #fff;
    color: var(--text-color);
    outline: none;
    padding: 10px;
    transition: opacity .2s;

  }

  #number-of-events{
    position: absolute;
    right: 86px;
    margin-top: 20px;
  }

  .charts-container{
    grid-template-columns: 1fr;
    margin-top: 100px;
  }

  .recharts-responsive-container{
    margin-bottom: 50px;
  }